<!DOCTYPE html>
<html>
<head>
    <title>Página no encontrada</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            padding-top: 50px;
        }
        
        h1 {
            font-size: 32px;
        }
        
        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Oops, página no encontrada!</h1>
    <p>Lo sentimos, la página que estás buscando no existe.</p>
</body>
</html>
